{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    {% if not error %}
        {{user.username}}
    {% else %}
        User not found
    {% endif %}
{% endblock title %}

{% block content %}

    {% if error %}
        {{ error }}
    {% else %}

        {% if posts_list %}

        <hr>
        <h3>User posts</h3>

        <div class="container">
        {% for post in posts_list %}
            <div class="row">
                <h3><a href="{% url 'blog_app:post_detail' post.slug %}">{{post.title}}</a></h3>
                <p class="text-muted" style="width:100%;">{{ post.created_on}}</p>
                <p>{{post.content|slice:":200" }}</p>
            </div>
        {% endfor %}

        </div>

        {% endif %}

    {% endif %}

{% endblock content %}