{% extends "layouts/base.html" %}
{% load static %}

{% block title %}
    {% if not error %}
        {{user.username}}
    {% else %}
        User not found
    {% endif %}
{% endblock title %}

{% block content %}

    {% if error %}
        {{ error }}
    {% else %}

        {{user_profile.username}}

        {% if posts_list %}
            <hr>
            <h3>User posts</h3>

            <div class="container">
            {% for post in posts_list %}
                <div class="row">
                    <h3><a href="{% url 'blog_app:post_detail' post.slug %}">{{post.title}}</a></h3>
                    <p class="text-muted" style="width:100%;">{{ post.created_on}}</p>
                    <p>{{post.content|slice:":200" }}</p>
                </div>
            {% endfor %}

            </div>

        {% endif %}


    {% if comment_list %}
        <hr>
        <h4>Your comments</h4>
        <div class="container">
            {% for comment in comment_list %}
                <div class="row">
                    <a href="{% url 'blog_app:post_detail' comment.post.slug %}">{{comment.post}}</a>
                    <span class="text-muted">| {% if comment.active %} Active {%else%} Waiting for moderating{%endif%}</span>
                </div>
                <div class="row">
                    <p>{{comment.body}}</p>
                </div>
            <hr>
            {% endfor %}
        </div>
    {% else %}

    {% endif %}

    {% endif %}

{% endblock content %}