{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

{% if not request.user.is_authenticated %}
  <p>You must be logged in to add new post.</p>
  <p><a href="{% url 'user_app:login'%}">Log in</a></p>

{% else %}

<!--  <form action="" method="post" enctype="multipart/form-data">-->
<!--    {% csrf_token %}-->
<!--    {{ form.media }}-->
<!--    {{ form.as_p }}-->
<!--    <p>Tags are determined by #</p>-->
<!--    <p>Examples: #sport #tech #regular life</p>-->
<!--    <input type="submit" value="Submit">-->
<!--  </form>-->

      <form method="post">
        {% csrf_token %}
        {{ form.media }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}

            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}

            {% if field.errors %}
                <ul>
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endif %}

{% endblock content %}