{% extends "layouts/base.html" %}

{% block content %}

<div class="container">
    <div class=" col-md-8 col-md-10 mx-auto">
        <h3 class="site-heading my-4 mt-3"> Most recent articles </h3>
    </div>
</div>

<div class="container">
    <div class="col-md-8 mt-3 left">
        {% for post in post_list %}
        <div class="container mb-4">
                <h2><a href="{% url 'blog_app:post_detail' post.slug %}">{{ post.title }}</a></h2>
                <p class="text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                <p>{{post.content|slice:":200" }}</p>
        </div>
        {% endfor %}
    </div>
</div>



{% if post_list.number %}
<div class="container mb-5">
    <div class="pagination centered">
        <span class="step-links">
            {% if post_list.has_previous %}
                <a href="?q={{query}}&page=1">&laquo; first</a>
                <a href="?q={{query}}&page={{ post_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
            </span>

            {% if post_list.has_next %}
                <a href="?q={{query}}&page={{ post_list.next_page_number }}">next</a>
                <a href="?q={{query}}&page={{ post_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}

{%endblock%}